[submodule "RejigCoordinator"]
	path = RejigCoordinator
	url = https://github.com/arunangshu-chatterjee/RejigCoordinator
[submodule "RejigInterface"]
	path = RejigInterface
	url = https://github.com/Likhit/RejigInterface.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/Likhit/memcached
[submodule "YCSB"]
	path = YCSB
	url = https://github.com/Likhit/YCSB-Client-MySQL-memcached.git
